.navbar{
 background-color: #F781F3;
}
.quem-somos{
    background-color: #CEF6F5;
    color: #DF01D7;
}
.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}
.conteudo{
    background-color:#F781F3;
    color: #0174DF;
}